# Ignore backups
*~

# Ignore select directories
__pycache__/
.ipynb_checkpoints/
docs/_build/
docs/reference/

# Ignore select files
libtemplate/_version.py

# Ignore .pyc files
*.pyc

# Ignore #*# files
\#*#